/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
root {
  --textColor: #2a2a2e;
  --containerColor: #f8f7f9;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.09rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body a {
  text-decoration: none;
}
body ul {
  list-style: none;
}
.site-entry {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 97vh;
  /* border-bottom-left-radius: 4rem; */
  /* border-bottom-right-radius: 4rem; */
}
.site-entry-video {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.85;
}
.entry-text {
  font-family: "Cookie";
  font-size: 7rem;
  text-align: center;
  z-index: 2;
  position: absolute;
}
.nav-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}
.nav-container li {
  margin: 0 1rem;
  transition: 100ms linear;
}
.nav-container li:hover:not(.not) {
  color: skyblue;
}
.nav-container a {
  font-size: 2rem;
  color: var(--textColor);
}
.nav-container .links li:nth-child(4) {
  border: 0.2rem solid skyblue;
  border-radius: 0.7rem;
  padding: 1rem;
  color: skyblue;
}
.nav-container .links li:nth-child(4):hover {
  background-color: skyblue;
  color: #fff;
}
.nav-container .links li:nth-child(1) {
  border: 0.2rem solid red;
  border-radius: 0.7rem;
  padding: 1rem;
  color: red;
}
.nav-container .links li:nth-child(1):hover {
  background-color: red;
  color: #fff;
}
.nav-container .links li:nth-child(3):hover {
  background-color: skyblue;
  color: #fff;
  padding: 1rem;
  border-radius: 0.7rem;
}
.nav-container .links li {
  margin: 0 1.2rem;
}
.nav-logo {
  width: 11rem;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Cookie", "Arial Narrow";
  font-size: 1rem;
}
.logo p {
  font-size: 3.5rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  padding-right: 1rem;
}
.design-nav-ball-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.design-nav-ball {
  width: 2em;
  height: 2em;
  display: inline-block;
  border-radius: 50%;
  margin: 0 0.1rem;
}
.design-nav-ball-1 {
  background-color: red;
}
.design-nav-ball-2 {
  background-color: orange;
}
.design-nav-ball-3 {
  background-color: green;
}
.design-nav-ball-4 {
  background-color: purple;
}
.design-nav-ball-5 {
  background-color: skyblue;
}
.covid-alert {
  background-color: #39393957;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #000;
  font-size: 1.8rem;
  width: 100%;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  position: absolute;
  top: 0;
  z-index: 2;
}
.covid-alert a {
  margin-left: 1rem;
  color: aqua;
}
.covid-alert a:hover {
  text-decoration: underline;
}

/* reservation start */
.layers-container {
  margin: 0 auto;
  text-align: center;
}
.r-layer-1 {
  font-size: 2rem;
}
.r-layer-2 {
  margin: 0 auto;
  margin-top: 4rem;
  font-size: 2rem;
  background-color: #f1f1f1;
  width: 40%;
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 9px rgb(68, 68, 68);
  padding: 1rem;
  z-index: 9;
}
.r-layer-2 ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  margin: 0;
  width: 100%;
}
.r-layer-2 li {
  padding: 1rem;
  margin: 0 1rem;
}
.r-layer-2 a {
  color: var(--textColor);
}
.r-layer-2 p {
  margin: 0;
}
.svg-icon {
  font-size: 4.5rem;
}
.svg-icon path {
  fill: var(--textColor);
}
.hotels-and-homes-svg path {
  fill: #5392f9;
}
.layer-2-homes {
  border-bottom: rgb(100, 193, 230) 3px solid;
}
.layer-2-homes p {
  color: #5392f9;
}

.r-layer-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 2rem;
  background-color: #f8f7f9;
  width: 75%;
  /* height: 30vh; */
  border-radius: 20px;
  box-shadow: 2px 2px 9px rgb(68, 68, 68);
  padding: 1rem;
  padding-top: 2rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
}
/* .r-layer-3 > div{
 margin: 1rem 0;
} */
.r-search {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 2px solid rgba(68, 68, 68, 0.3);
  box-shadow: 2px 2px 7px rgb(68, 68, 68);
  margin-top: 2rem;
}
.r-search button {
  border: none;
  background-color: transparent;
}
.r-search .svg-icon {
  font-size: 4rem;
  margin-right: 1rem;
  cursor: pointer;
}
.r-search input {
  border: none;
  outline: none;
  width: 80%;
  height: 100%;
  background-color: transparent;
}
.r-search input::placeholder {
  font-size: 2rem;
}
.r-calender {
  margin-top: 4rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 2px solid rgba(68, 68, 68, 0.3);
  box-shadow: 2px 2px 7px rgb(68, 68, 68);
  padding-right: 1rem;
  padding-left: 1rem;
}
.r-calender input {
  border: none;
  outline: none;
  width: 45%;
  height: calc(100% - 2rem);
  padding: 1rem;
  /* background-color: rgb(247, 241, 241); */
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
.r-calender select {
  border: none;
  outline: none;
  width: 45%;
  height: calc(100% - 0.8rem);
  /* padding: 1rem; */
  /* background-color: rgb(247, 241, 241); */
  border-radius: 1rem;
  font-size: 1.9rem;
  cursor: pointer;
  /* padding-right: 4rem; */
}
.r-add {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* padding: 2rem; */
  border: 2px solid rgb(165, 165, 165);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  /* border: none; */
  /* outline: none; */
  /* background-color: transparent; */
}

.r-add span {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
}
.r-add .add-hotel-svg {
  font-weight: bold;
}
.r-search-button {
  background-color: skyblue;
  padding: 2rem;
  border: 2px solid skyblue;
  border-radius: 0.7rem;
  margin-top: 2rem;
  width: 45%;
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
  position: relative;
  top: 4rem;
  cursor: pointer;
  transition: 100ms linear;
}
.r-search-button:hover {
  background-color: rgb(70, 188, 235);
}
