/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
root {
  --textColor: #2a2a2e;
  --containerColor: #f8f7f9;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.09rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body a {
  text-decoration: none;
}
body ul {
  list-style: none;
}
.site-entry {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 132.6rem;
  /* border-bottom-left-radius: 4rem; */
  /* border-bottom-right-radius: 4rem; */
}
.site-entry-video {
  position: absolute;
  width: 100%;
  height: 115rem;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.85;
  z-index: -3;
}
.entry-text {
  font-family: "Cookie";
  font-size: 7rem;
  text-align: center;
  z-index: 2;
  /* position: absolute;
  top: 30%;
  left: 760px; */
  transform: translateY(-25rem);
}
.nav-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}
.nav-container li {
  margin: 0 1rem;
  transition: 100ms linear;
}
.nav-container li:hover:not(.not) {
  color: skyblue;
}
.nav-container a {
  font-size: 2rem;
  color: var(--textColor);
}
.nav-container .links li:nth-child(4) {
  border: 0.2rem solid skyblue;
  border-radius: 0.7rem;
  padding: 1rem;
  color: skyblue;
}
.nav-container .links li:nth-child(4):hover {
  background-color: skyblue;
  color: #fff;
}
.nav-container .links li:nth-child(1) {
  border: 0.2rem solid red;
  border-radius: 0.7rem;
  padding: 1rem;
  color: red;
}
.nav-container .links li:nth-child(1):hover {
  background-color: red;
  color: #fff;
}
.nav-container .links li:nth-child(3):hover {
  background-color: skyblue;
  color: #fff;
  padding: 1rem;
  border-radius: 0.7rem;
}
.nav-container .links li {
  margin: 0 1.2rem;
}
.nav-logo {
  width: 11rem;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Cookie", "Arial Narrow";
  font-size: 1rem;
}
.logo p {
  font-size: 3.5rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  padding-right: 1rem;
}
.design-nav-ball-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.design-nav-ball {
  width: 2em;
  height: 2em;
  display: inline-block;
  border-radius: 50%;
  margin: 0 0.1rem;
}
.design-nav-ball-1 {
  background-color: red;
}
.design-nav-ball-2 {
  background-color: orange;
}
.design-nav-ball-3 {
  background-color: green;
}
.design-nav-ball-4 {
  background-color: purple;
}
.design-nav-ball-5 {
  background-color: skyblue;
}
.covid-alert {
  background-color: #39393957;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #000;
  font-size: 1.8rem;
  width: 100%;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  position: absolute;
  top: 0;
  z-index: 2;
}
.covid-alert a {
  margin-left: 1rem;
  color: aqua;
}
.covid-alert a:hover {
  text-decoration: underline;
}

/* reservation start */
.layers-container {
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
}
.r-layer-1 {
  font-size: 2.1rem;
  color: rgba(255, 255, 255, 0.877);
}
.r-layer-1 h1 {
  margin-bottom: 1rem;
}
.r-layer-1 h3 {
  margin-top: 1rem;
}
.r-layer-2 {
  margin: 0 auto;
  margin-top: 4rem;
  font-size: 2rem;
  background-color: #fafafae5;
  width: 40%;
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 9px rgb(68, 68, 68);
  padding: 1rem;
  position: relative;
  z-index: 9;
}
.r-layer-2 ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  margin: 0;
  width: 100%;
}
.r-layer-2 li {
  padding: 1rem;
  margin: 0 1rem;
}
.r-layer-2 a {
  color: var(--textColor);
}
.r-layer-2 p {
  margin: 0;
}
.svg-icon {
  font-size: 4.5rem;
}
.svg-icon path {
  fill: var(--textColor);
}
.hotels-and-homes-svg path {
  fill: #5392f9;
}
.layer-2-homes {
  border-bottom: rgb(100, 193, 230) 3px solid;
}
.layer-2-homes p {
  color: #5392f9;
}

.r-layer-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 2rem;
  background-color: #fafafa;
  width: 75%;
  height: 360px;
  border-radius: 20px;
  box-shadow: 2px 2px 9px rgb(68, 68, 68);
  padding: 1rem;
  margin-bottom: 3rem;
  padding-top: 5rem;
  position: relative;
  bottom: 65px;
  /* z-index: -1; */
}
/* .r-layer-3 > div{
 margin: 1rem 0;
} */
.r-search {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 2px solid rgba(68, 68, 68, 0.3);
  /* box-shadow: 2px 2px 7px rgb(68, 68, 68); */
  margin-top: 3rem;
  border-radius: 20px;
  z-index: 2;
}
.r-search button {
  border: none;
  background-color: transparent;
}
.r-search button:hover {
  cursor: pointer;
}
.r-search .svg-icon {
  font-size: 4rem;
  margin-right: 1rem;
  cursor: pointer;
}
.r-search input {
  border: none;
  outline: none;
  width: 80%;
  height: 100px;
  background-color: transparent;
  font-size: 2.6rem;
}
.r-search input::placeholder {
  line-height: 100px;
}
.r-calender {
  margin-top: 2rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid rgba(68, 68, 68, 0.3);
  /* box-shadow: 2px 2px 7px rgb(68, 68, 68); */
  padding-right: 1rem;
  padding-left: 1rem;
}
.r-calender input {
  border: none;
  outline: none;
  width: 45%;
  height: 80px;
  padding: 0rem 2rem;
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  /* overflow: hidden; */
}

.r-calender select {
  border: none;
  outline: none;
  width: 45%;
  height: 80px;
  padding: 0rem 2rem;
  /* background-color: rgb(247, 241, 241); */
  border-radius: 1rem;
  font-size: 1.9rem;
  cursor: pointer;
  /* padding-right: 4rem; */
}
/* new  */
input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  color: #fff;
  position: relative;
}

input[type="date"]::-webkit-datetime-edit-year-field {
  position: absolute !important;
  border-left: 1px solid #8c8c8c;
  padding: 1px;
  padding-left: 1rem;
  color: #000;
  left: 65px;
}

input[type="date"]::-webkit-datetime-edit-month-field {
  position: absolute !important;
  border-left: 1px solid #8c8c8c;
  padding: 1px;
  padding-left: 0.6rem;
  color: #000;
  left: 30px;
}

input[type="date"]::-webkit-datetime-edit-day-field {
  position: absolute !important;
  color: #000;
  padding: 1px;
  left: 0px;
}
/* new*/
.r-add {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.75);
  border: 2px solid rgba(255, 0, 0, 0.75);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: 100ms linear;
  box-shadow: rgb(0 0 0 / 20%) 1px 1px 3px 1px;
  position: relative;
  right: 500px;
}
.r-add:hover {
  background-color: rgba(255, 0, 0, 0.9);
}

.r-add span {
  color: rgb(221, 221, 221);
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
}
.r-add .add-hotel-svg {
  font-weight: bold;
}
.add-hotel-svg path {
  fill: rgb(221, 221, 221);
}
.r-search-button {
  background-color: skyblue;
  padding: 2rem;
  border: 2px solid skyblue;
  border-radius: 0.7rem;
  margin-top: 0rem;
  width: 45%;
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
  position: relative;
  top: 2rem;
  cursor: pointer;
  transition: 100ms linear;
  box-shadow: rgb(0 0 0 / 20%) 1px 1px 3px 1px;
}
.r-search-button:hover {
  background-color: rgb(70, 188, 235);
}
.reservation-part {
  position: relative;
  top: -46rem;
  margin-bottom: -45rem;
}
/* reservation end */
/* back to europe */
.back-to-europe-a div {
  width: 40%;
  height: 300px;
  margin: 0 auto;
  z-index: 3;
}
.back-to-europe {
  background-image: url(https://cdn6.agoda.net/images/WebCampaign/wcSP20210824EUv2/en-us.png);
  width: 40%;
  height: 300px;
  margin: 0 auto;
  border-radius: 20px;
  /* position: relative; */
  /* top: -430px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 5rem;
}
/* explore */
.explore {
  margin-top: 15rem;
}
.explore-text {
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
}
.explore-widgets {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  margin-top: 6rem;
  flex-wrap: wrap;
}
.explore-widget {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: .8px solid #cacaca;
  margin-top: 1rem;
}
.explore-widget:hover {
  box-shadow: 1px 1px 7px 5px #c5c5c5;
}
.explore-widget img {
  width: 320px;
}
.explore-widget-span {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 0 1rem 1rem;
}
.explore-widget-span span {
  font-size: 2rem;
  font-weight: 600;
}
.explore-widget-span span:nth-child(1) {
  margin-top: 2rem;
  color: black;
}
.explore-widget-span span:nth-child(2) {
  margin-top: 0.7rem;
  color: #8c8c8c;
}
/* explore end */
/* experiences  */
.experiences {
  font-size: 2rem;
  text-align: center;
  margin-top: 17rem;
}
.experiences-widgets {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
  margin-top: 8rem;
  /* flex-wrap: wrap; */
}
.experiences-widget {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 250px;
  border: .8px solid #cecece;
  border-bottom: 4px solid skyblue;
  padding: 2rem;
  padding-top: 3.5rem;
}
.experiences-widget a {
  color: #5392f9;
  font-size: 3rem;
  font-weight: bold;
}
.experiences-widget a:hover{
  color: #77adf3;
}
.experiences-widget span {
  margin-top: 2rem;
  color: #8c8c8c;
}
.experiences-widget p {
  font-size: 2.2rem;
}
/* experiences end */

.height {
  width: 100%;
  height: 400px;
  background-color: antiquewhite;
  margin-top: 10rem;
}
